{% extends 'base.html' %}
{% load static %}
{% block title_html %}Attendence | E-Assitant{% endblock %}
{% block article_content %}
<div id="report" class="pages">
  <!-- Contact starts here -->
  <div class="container main">
    <div class="row" align="center">
      <div id="watermark">
        <h2 class="page-title" text-center>Attendance Sheet</h2>
        <div class="marker">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</div>
      </div>
<br/>
      <table border="0" align="center" width="70%">
        <tr>
          {% comment %} <th>Student Id</th> {% endcomment %}
          <th>Admission No</th>
          <th>Student Name</th>
          <th colspan="2">Subject</th>
          <th style="padding-left: 15px;">Status</th>
          <th>Change Status</th>
          <th>Date</th>
          <th>Hour</th>
          
        </tr>
        {% for att in attendences %}
        <tr>
          {% comment %} <td>{{att.student_id.id}}</td> {% endcomment %}
          <td>{{att.student_id.admission_no}}</td>
          <td>{{att.student_id.name}}</td>
          <td colspan="2">{{att.subject_id.name}}</td>
          <th>{% if att.status %}<p style="color: green;padding-top: 12px;padding-left: 15px;">Present</p>{% else %}<p style="color: red;padding-top: 12px;padding-left: 15px;">Absent{% endif %}</p></th>
          <td>
            <a href="{% url 'teacher_panel:today_attendence' %}?aid={{att.id}}">Change</label>
            </a>
          </td>
          <td>{{att.taken_on}}</td>
          <td>{{att.hour}}</td>
         
        </tr>
        {% endfor %}
      </table>
      <br/>
      <form class="form_edit" method="POST">
      <div class="form-group">
         <!-- <select class="form-group"><option>Change hour</option></select> ivide ivide -->
      </div>
    <!-- <button type="submit" class="btn btn-rabbit submit">Change</button> -->
    </form> 
      <button onclick="location.href='/teacher_panel'" type="reset" class="btn btn-rabbit"><i class="fa fa-angle-left" aria-hidden="true"></i>&nbspBack to home</button>
    </div>
  </div>
</div>
{% endblock %}
